
body {
  background-color: blue;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.so {
  border: 2px solid black;
  width: 86px;
  margin-left: 150px;
  padding: 20px;
  margin-bottom: 8px;
  background-color: black;
  border-radius: 9px;
}
.card {
  background-color: #ddd;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0
  rgba( 0, 0, 0, 0.2);
  transition: 0.3s;
  padding-top: 20px;
  border-radius: 40px;
  padding-bottom: 10px;
}
.card:hover{
  box-shadow: 0 16px 32px 0
  rgba(0, 0, 0, 0.2);

}
.c-head #result {
  width: 260px;
  height: 61px;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
  padding: 0 5px;
  letter-spacing: 2px;
  border-radius: 40px;
}
.btn {
  outline: none;
  border-radius: 30px;
  height: 70px;
  width: 60px;
  font-weight: bold;
  font-size: 30px;
  background-color: #1f2326;
  color: white;
}
.btn-style {
  background-color: #5f4BB6;
}
.btn:hover{
  background-color: pink;
}

div {
  margin-top: 5px;
}
